//=======================
//HOMEPAGE IMAGES
//=======================
//The big ones
.background,
.multi {
    background-image: url(../images/headshot.png);
    background-repeat: no-repeat;
    background-color: $baseGray;
    background-size: cover;
    background-position: top center;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}

.background,
.multi2 {
    background-image: url(../images/jess.jpg);
    background-repeat: no-repeat;
    background-color: $baseGray;
    background-size: cover;
    background-position: top center;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    -ms-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}

//Mini-images
.mini-image1 {
    height: 10em;
    width: 100%;
    background-image: url(../images/computer-study.jpg);
    background-size: cover;
    background-color: $baseGray;
}

.mini-image2 {
    height: 10em;
    width: 100%;
    background-image: url(../images/responsive-design.jpg);
    background-size: cover;
    background-color: $baseGray;
}

.mini-image3 {
    height: 10em;
    width: 100%;
    background-image: url(../images/colors-wheel.jpg);
    background-size: cover;
    background-color: $baseGray;
}

// MOBILE CHRIS
.mobile-portrait {
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    height: 15em;
    width: 10em;
    background-color: $baseSand;
    background-image: url('../images/chrishead-square.jpg');
    background-size: cover;
}

// MOBILE JESS
.mobile-portrait-jess {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    height: 15em;
    width: 10em;
    background-color: $baseSand;
    background-image: url('../images/jesshead-square.jpg');
    background-size: cover;
}

// WEB DESIGN STYLING
#webdesign-image {
    background-image: url(../images/web-design-services.jpg);
    background-size: cover;
    height: 11em;
    width: 100%;
    top: 0;
    left: 0;
}

//SEO image
#seo-image {
    background-image: url(../images/seo-services.jpg);
    background-size: cover;
    height: 11em;
    width: 100%;
}

//GRAPHIC DESIGN IMAGE
#graphicdesign-image {
    background-image: url(../images/graphicdesign-services.jpg);
    background-size: cover;
    height: 11em;
    width: 100%;
    top: 0;
    left: 0;
}

@media only screen and (max-width: 768px) {
    #webdesign-image-mobile {
        background-image: url(../images/web-design-services-mobile.jpg);
        background-size: cover;
        height: 6em;
        width: 100%;
        top: 0;
        left: 0;
        margin-bottom: .5em;
    }
    #seo-image-mobile {
        background-image: url(../images/seo-services-mobile.jpg);
        background-size: cover;
        height: 6em;
        width: 100%;
        top: 0;
        left: 0;
        margin-bottom: 0.5em;
    }
    #graphicdesign-image-mobile {
        background-image: url(../images/graphicdesign-services-mobile.jpg);
        background-size: cover;
        height: 6em;
        width: 100%;
        top: 0;
        left: 0;
        margin-bottom: .5em;
    }
}

//========================================================
//--------------------PORTFOLIO STYLING--------------------
//========================================================
@media only screen and (min-device-width: 768px) {
    #web-thumb-one {
        background-image: url(../images/portfolio-web/mouthfeel-desktop1.jpg);
    }
    #web-thumb-two {
        background-image: url(../images/portfolio-web/mouthfeel-desktop2.jpg);
    }
    #web-thumb-three {
        background-image: url(../images/portfolio-web/mouthfeel-desktop3.jpg);
    }
    #web-thumb-four {
        background-image: url(../images/portfolio-web/mouthfeel-desktop4.jpg);
    }
    #web-thumb-five {
        background-image: url(../images/portfolio-web/mouthfeel-mobile1.jpg);
    }
    #web-thumb-six {
        background-image: url(../images/portfolio-web/mouthfeel-mobile2.jpg);
    }
    #web-thumb-seven {
        background-image: url(../images/portfolio-web/mouthfeel-mobile3.jpg);
    }
    #web-thumb-eight {
        background-image: url(../images/portfolio-web/mouthfeel-mobile4.jpg);
    }
    #web-thumb-nine {
        background-image: url(../images/portfolio-web/pet-home-desk.png);
    }
    #web-thumb-ten {
        background-image: url(../images/portfolio-web/pet-search-desk.png);
    }
    #web-thumb-eleven {
        background-image: url(../images/portfolio-web/pet-resources-desk.png);
    }
    #web-thumb-twelve {
        background-image: url(../images/portfolio-web/pet-resources-modal.png);
    }
    #web-thumb-thirteen {
        background-image: url(../images/portfolio-web/pet-resources-mobile.png);
    }
    #web-thumb-fourteen {
        background-image: url(../images/portfolio-web/pet-vetfinder-desk.png);
    }
    #web-thumb-fifteen {
        background-image: url(../images/portfolio-web/pet-namegen-desk.png);
    }
    #web-thumb-sixteen {
        background-image: url(../images/portfolio-web/pet-name-gen-mobile.png);
    }
    #graphic-thumb-one {
        background-image: url(../images/portfolio-graphic/wikitherapy.jpg);
    }
    #graphic-thumb-two {
        background-image: url(../images/portfolio-graphic/MaryPhotoshop.jpg);
    }
    #graphic-thumb-three {
        background-image: url(../images/portfolio-graphic/fightclubyaya1.jpg);
    }
    #graphic-thumb-four {
        background-image: url(../images/portfolio-graphic/GrouchoYang.png);
    }
    #graphic-thumb-five {
        background-image: url(../images/portfolio-graphic/Mattsincity.jpg);
    }
    #graphic-thumb-six {
        background-image: url(../images/portfolio-graphic/Shirapatch.jpg);
    }
    #graphic-thumb-seven {
        background-image: url(../images/portfolio-graphic/CABFbrochure.jpg);
    }
    #graphic-thumb-eight {
        background-image: url(../images/portfolio-graphic/aristotle&juliuscaesar.jpg);
    }
}

// MOBILE PORTFOLIO STYLING
@media only screen and (max-width: 767px) {
    #web-thumb-one {
        background-image: url(../images/portfolio-web/mouthfeel-desktop1.jpg);
    }
    #web-thumb-two {
        background-image: url(../images/portfolio-web/mouthfeel-desktop2.jpg);
    }
    #web-thumb-three {
        background-image: url(../images/portfolio-web/mouthfeel-desktop3.jpg);
    }
    #web-thumb-four {
        background-image: url(../images/portfolio-web/mouthfeel-desktop4.jpg);
    }
    #web-thumb-five {
        background-image: url(../images/portfolio-web/mouthfeel-mobile1.jpg);
    }
    #web-thumb-six {
        background-image: url(../images/portfolio-web/mouthfeel-mobile2.jpg);
    }
    #web-thumb-seven {
        background-image: url(../images/portfolio-web/mouthfeel-mobile3.jpg);
    }
    #web-thumb-eight {
        background-image: url(../images/portfolio-web/mouthfeel-mobile4.jpg);
    }
    #web-thumb-nine {
        background-image: url(../images/portfolio-web/pet-home-desk.png);
    }
    #web-thumb-ten {
        background-image: url(../images/portfolio-web/pet-search-desk.png);
    }
    #web-thumb-eleven {
        background-image: url(../images/portfolio-web/pet-resources-desk.png);
    }
    #web-thumb-twelve {
        background-image: url(../images/portfolio-web/pet-resources-modal.png);
    }
    #web-thumb-thirteen {
        background-image: url(../images/portfolio-web/pet-resources-mobile.png);
    }
    #web-thumb-fourteen {
        background-image: url(../images/portfolio-web/pet-vetfinder-desk.png);
    }
    #web-thumb-fifteen {
        background-image: url(../images/portfolio-web/pet-namegen-desk.png);
    }
    #web-thumb-sixteen {
        background-image: url(../images/portfolio-web/pet-name-gen-mobile.png);
    }
    #graphic-thumb-one {
        background-image: url(../images/portfolio-graphic/wikitherapy.jpg);
    }
    #graphic-thumb-two {
        background-image: url(../images/portfolio-graphic/MaryPhotoshop.jpg);
    }
    #graphic-thumb-three {
        background-image: url(../images/portfolio-graphic/fightclubyaya1.jpg);
    }
    #graphic-thumb-four {
        background-image: url(../images/portfolio-graphic/GrouchoYang.png);
    }
    #graphic-thumb-five {
        background-image: url(../images/portfolio-graphic/Mattsincity.jpg);
    }
    #graphic-thumb-six {
        background-image: url(../images/portfolio-graphic/Shirapatch.jpg);
    }
    #graphic-thumb-seven {
        background-image: url(../images/portfolio-graphic/CABFbrochure.jpg);
    }
    #graphic-thumb-eight {
        background-image: url(../images/portfolio-graphic/windowthinking.jpg);
    }
}